beautifulsoup4
bs4
ipykernel
jupyter
keras
keras-tuner
imbalanced-learn
matplotlib
nltk
numpy
scikit-learn
scikit-plot
scipy
seaborn
streamlit
sweetviz
tensorflow
tensorboard
transformers
xgboost
imblearn
pycaret
chardet
pandas